body {
    margin: 0;
    font-family: calibri;
    background: #e2c105;
    /* padding: 0px 10px; */
}

/* header */

.logo {
    color: rgb(0, 0, 0);
    display: inline-lock;
    font-size: 30px;
}

.header {
    background-color: #e2c105;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #e2c105;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
}

.header li a:hover,
.header .menu-btn:hover {
    /* background-color: #00000000; */
    /* height: 20px; */
    color: aquamarine;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: #000000 .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 100%;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 22px 14px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

button {
    padding: 10px 20px;
    background: #d37c09;
    margin: 15px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 30px;
}













.heroSection {
    display: flex;
    justify-content: space-between;
    padding: 5%
}

.heroSection h1 {
    font-size: 60px;
}


/* @media screen and (min-width: 200px) {
    .herooss {
        display: flex;
        justify-content: space-between;
        padding: 5%
    }
} */